* {
    margin: 0px;
}

@font-face{
    font-family: "Pixeled";
    src:url(Pixeled.ttf);
}

html {
    box-sizing: border-box;
    background-color: #0C0C0C;
    font-family: "Pixeled";
    color: white;
    font-size: 1.6vh;
    text-align: center;
}

body {
    height: 98vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

span{
    border-top: 1px solid white;
}

span:first-of-type{
    border-top: none;
}

#next,
#scoreDiv,
#controls {
    background-color: black;
    border: 1px solid aliceblue;
}

.hidden{
    display: none;
}

#scoreDiv{
    border-top: none;
    border-bottom: none;
}

#tetris {
    display: flex;
    flex-direction: row;
    padding: 0.5vh;
    background-color: #1c2e4a;
    border: 2px solid black;
}

#screen {
    border: 1px solid gray;
    background-color: #0B1215;
    margin-right: 0.5vh;
}

span {
    display: block;
}